/* Base color for the theme, dependent on whether it's a light theme or not */
@media (prefers-color-scheme: dark) {
    :root,
    body,
    * {
      --accent-color: rgb(25, 25, 25);
      --uc-background-color: rgb(28, 27, 34);
      --uc-border-color: rgba(28, 27, 34, 0.5);
      --uc-text-color: rgb(255, 255, 255);
      --uc-border-radius: 10px;
      --uc-selected: rgba(71, 71, 71, 0.7);
      --uc-hover: rgba(71, 71, 71, 0.7);
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root,
    body,
    * {
      --accent-color: rgb(245, 245, 245);
      --uc-background-color: rgb(245, 245, 245);
      --uc-border-color: rgba(28, 27, 34, 0.5);
      --uc-text-color: rgb(255, 255, 255);
      --uc-border-radius: 10px;
      --uc-selected: rgba(71, 71, 71, 0.7);
      --uc-hover: rgba(71, 71, 71, 0.7);
    }
  }
  
  /*====== Aesthetics ======*/
  
  #navigator-toolbox {
    border-bottom: none !important;
  }
  #titlebar {
    background: var(--accent-color) !important;
  }
  
  /* Sets the toolbar color */
  toolbar#nav-bar {
    background: var(--accent-color) !important;
    box-shadow: none !important;
  }
  
  /*! this overlap with MY OVERRIDE */
  /* Sets the URL bar color */
  /* #urlbar {
      background: var(--accent-color) !important;
  }
  
  #urlbar-background {
      background: var(--accent-color) !important;
      border: none !important;
  }
  
  #urlbar-input-container {
      border: none !important;
  } */
  /* ! =============================== */
  
  /*====== UI Settings ======*/
  
  :root {
    --navbarWidth: 500px;
  } /* Set width of navbar */
  
  /* If the window is wider than 1000px, use flex layout */
  @media (min-width: 1000px) {
    #navigator-toolbox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    /*  Url bar  */
    #nav-bar {
      order: 1;
      width: var(--navbarWidth);
    }
  
    /* Tab bar */
    #titlebar {
      order: 2;
      width: calc(100vw - var(--navbarWidth) - 1px);
    }
  
    /* Bookmarks bar */
    #PersonalToolbar {
      order: 3;
      width: 100%;
    }
  
    /* Fix urlbar sometimes being misaligned */
    :root[uidensity="compact"] #urlbar {
      --urlbar-toolbar-height: 39.6px !important;
    }
    :root[uidensity="touch"] #urlbar {
      --urlbar-toolbar-height: 49px !important;
    }
  }
  
  /*====== Simplifying interface ======*/
  
  /* Autohide back button when disabled */
  #back-button,
  #forward-button {
    transform: scale(1, 1) !important;
    transition: margin-left 150ms var(--animation-easing-function),
      opacity 250ms var(--animation-easing-function),
      transform 350ms var(--animation-easing-function) !important;
  }
  
  #back-button[disabled="true"],
  #forward-button[disabled="true"] {
    margin-left: -34px !important;
    opacity: 0 !important;
    transform: scale(0.8, 0.8) !important;
    pointer-events: none !important;
  }
  
  /* Remove UI elements */
  #identity-box, /* Site information */
  #tracking-protection-icon-container, /* Shield icon */
  #page-action-buttons > :not(#urlbar-zoom-button, #star-button-box), /* All url bar icons except for zoom level and bookmarks */
  #urlbar-go-button, /* Search URL magnifying glass */
  #alltabs-button, /* Menu to display all tabs at the end of tabs bar */
  .titlebar-buttonbox-container /* Minimize, maximize, and close buttons */ {
    display: none !important;
  }
  
  #nav-bar {
    box-shadow: none !important;
  }
  
  /* Remove "padding" left and right from tabs */
  .titlebar-spacer {
    display: none !important;
  }
  
  /* Fix URL bar overlapping elements */
  #urlbar-container {
    min-width: initial !important;
  }
  
  /* Remove gap after pinned tabs */
  #tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
  }
  
  /* Hide the hamburger menu */
  #PanelUI-menu-button {
    padding: 0px !important;
  }
  #PanelUI-menu-button .toolbarbutton-icon {
    width: 1px !important;
  }
  #PanelUI-menu-button .toolbarbutton-badge-stack {
    padding: 0px !important;
  }
  
  /* ========================= */
  /*****  my override *****/
  /* ========================= */
  
  /*  Removes urlbar border/background  */
  #urlbar-background {
    border: none !important;
    outline: none !important;
    transition: 0.15s !important;
  }
  
  /*  Removes the background from the urlbar while not in use  */
  #urlbar:not(:hover):not([breakout][breakout-extend]) > #urlbar-background {
    box-shadow: none !important;
    background: #0000 !important;
  }
  
  /*  Cool animation on tab/bookmark icons  */
  .tabbrowser-tab:not([pinned]):not([selected])
    .bookmark-item
    .toolbarbutton-icon {
    opacity: 0 !important;
    transition: 0.15s !important;
    width: 0 !important;
    padding-left: 16px !important;
  }
  .tabbrowser-tab:not([pinned]):hover .bookmark-item:hover .toolbarbutton-icon {
    opacity: 100 !important;
    transition: 0.15s !important;
    display: inline-block !important;
    width: 16px !important;
    padding-left: 0 !important;
  }
  .tabbrowser-tab:not([hover]) .bookmark-item:not([hover]) .toolbarbutton-icon {
    padding-left: 0 !important;
  }
  
  /*  X-button on the tabs  */
  .tabbrowser-tab:not(:hover) .tab-close-button {
    opacity: 0% !important;
    transition: 0.3s !important;
    display: -moz-box !important;
  }
  .tab-close-button[selected]:not(:hover) {
    opacity: 45% !important;
    transition: 0.3s !important;
    display: -moz-box !important;
  }
  .tabbrowser-tab:hover .tab-close-button {
    opacity: 50%;
    transition: 0.3s !important;
    background: none !important;
    cursor: pointer;
    display: -moz-box !important;
  }
  .tab-close-button:hover {
    opacity: 100% !important;
    transition: 0.3s !important;
    background: none !important;
    cursor: pointer;
    display: -moz-box !important;
  }
  .tab-close-button[selected]:hover {
    opacity: 100% !important;
    transition: 0.3s !important;
    background: none !important;
    cursor: pointer;
    display: -moz-box !important;
  }
  
  /*  Context Menu Item Remove */
  /*Refer to SMW for an all in one place reference-library: https://github.com/stonecrusher/simpleMenuWizard */
  /* Tab Context Menu */
  #tabContextMenu #context_openANewTab + menuseparator,      /******** Separator ********/
  #tabContextMenu #context_reloadTab,                        /* Reload Tab              */
  #tabContextMenu .share-tab-url-item,                       /* Share tab URL via 3rd party app */
  #tabContextMenu #context_toggleMuteTab,                    /* Mute / Unmute Tab       */
  #tabContextMenu #context_moveTabOptions,                   /* Move Tab                */
  #tabContextMenu #context_closeDuplicateTabs,               /* Close Duplicate Tabs          */
  #tabContextMenu #context_duplicateTab,                     /* Duplicate Tabs          */
  #tabContextMenu #context_duplicateTabs,                    /* Duplicate Tabs          */
  #tabContextMenu #context_bookmarkSelectedTab{              /*Bookmark Selected Tabs*/ 
    display: none !important;
  }
  
  /* General Context Menu */
  #context-bookmarklink,                                      /* Bookmark Link                    */
  #context-stripOnShareLink,                                  /* Copy Link Without Site Tracking  */
  #context-translate-selection,                               /* Translate Selection to [English] */
  #frame-sep,                                                 /************ Separator *************/
  #context-openlinkprivate,
  #context-openlink,
  #context-sendpagetodevice,
  #context-selectall,
  #context-take-screenshot #context-sep-screenshots,
  #context-pocket,
  #context-savelinktopocket,
  #context-setDesktopBackground,
  #context-sep-setbackground,
  #contextseperator-4,
  #context-sendimage,
  #context-viewimageinfo,
  #context-inspect-a11y {
    display: none !important;
  }
  
  /*  Drop menus  */
  [position="bottomright topright"] {
    --panel-border-radius: 0 5px 5px 5px !important;
  }
  [position="bottomleft topleft"] {
    --panel-border-radius: 5px 0 5px 5px !important;
  }
  [part="content"] {
    border: none !important;
  }
  .toolbarbutton-1[open] {
    --toolbarbutton-border-radius: 4px 4px 0 0 !important;
  }
  
  [class*="identity-color"] > * > * .tab-context-line {
    border-radius: 0 0 5px 5px !important;
  }
  
  /* Narbar floating in center */
  #urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]) {
    #urlbar-input {
      font-size: 16px !important;
    }
  
    z-index: 2;
    position: fixed !important;
    bottom: auto !important;
    top: 16vh !important;
    padding-left: 6px !important;
    padding-right: 8px !important;
    left: 18vw !important;
    right: 18vw !important;
    width: 64vw !important;
  
    &:after {
      content: "";
      position: fixed;
      pointer-events: none;
  
      width: 100vw;
      height: 100vh;
  
      top: 0px;
      left: 0px;
  
      background-color: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(5px);
  
      z-index: -1;
    }
  
    #identity-box {
      margin: auto 0;
      height: 30px;
      margin-right: 10px;
    }
  
    .urlbar-go-button {
      margin: auto 0;
    }
  }
  
  /* Tab media playing icon adjust */
  .tab-icon-image,
  .tab-throbber {
    opacity: 1 !important;
  }
  
  .tab-icon-overlay:not([crashed]) {
    top: -5.5px;
    inset-inline-end: -6px;
    z-index: 1;
    padding: 2px;
    opacity: 1 !important;
    stroke: var(--tab-icon-overlay-stroke, black) !important;
  }
  
  .tab-icon-overlay:not([crashed]):hover {
    background-color: var(--tab-icon-overlay-stroke, black) !important;
    border-radius: 10px !important;
  }
  
  
  /* Context Menu Styling */
  menupopup,
  panel {
    color-scheme: light dark;
    --panel-background: var(--uc-background-color) !important;
    --panel-color: var(--uc-text-color) !important;
    --panel-border-radius: var(--uc-border-radius) !important;
    --panel-border-color: var(--uc-border-color) !important;
    --panel-shadow: 0 0 var(---uc-border-color) hsla(0, 0%, 0%, 0.2);
  }
  
  menuitem:hover {
    background-color: var(--uc-hover) !important;
    color: var(--uc-text-color) !important;
  }
  
  menu:where([_moz-menuactive="true"]:not([disabled="true"])),
  menuitem:where([_moz-menuactive="true"]:not([disabled="true"])) {
    background-color: var(--uc-selected) !important;
    color: var(--uc-text-color) !important;
  }
  
